<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DestroyTheWorld.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5448F22A1DEFC24B00E0127D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5448F23E1DEFC24C00E0127D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5448F2491DEFC24C00E0127D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
